Django==2.0.2
pytz==2018.3
gunicorn==19.7.1
dj-database-url==0.4.2
psycopg2==2.7.4
requests==2.18.4
pyOpenSSL==17.5.0
cfscrape==1.9.3
raven==6.5.0
whitenoise==3.3.1
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
overpy==0.4
progressbar2==3.34.3
drf-nested-routers==0.90.0