{%  extends 'app/base.html' %}
{%  block hero %}
<section class="section" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="container">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul class="is-marginless">
            <li><a href="/list/">Gym List</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ gym.name }}</a></li>
          </ul>
        </nav>
    </div>
</section>
<section class="hero is-medium is-primary is-bold has-background-image" {% if gym.image_url %}style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ gym.image_url }}');" {% endif %}>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ gym.name }}
      </h1>
    </div>
  </div>
</section>
{% endblock %}
{%  block content %}
<form action="" method="post">
    {%  if failed %}
        <div class="notification is-danger">
          Invalid date entered
        </div>
    {% endif %}
    <div class="field">
        <label class="label" for="last_visit_date">Date you last completed a raid on this gym</label>
        <div class="control">
            <input class="input" name="last_visit_date" type="date" value="{{ date_to_show|date:"Y-m-d"}}">
        </div>
    {% csrf_token %}
    </div>
    <div class="columns is-mobile">
        <div class="column">
            <div class="field is-grouped">
                <p class="control">
                    <input type="submit" value="Add Raid" class="button is-primary" id="form_submit" />
                </p>
                <div class="control">
                    <a href="/list/" class="button is-link">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
{%  endblock %}