{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exclusive Raid Gym Tracker - Leeds</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" rel="stylesheet"/>
    <style>
        .select[multiple]{
            height: 100%;
        }
        .control.is-horizontal .control{
            flex-flow: column;
        }
        .control.is-horiztonal .input, .control.is-horizontal .help{
            flex: 1;
        }
        form label{
            display: block;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <nav class="navbar">
              <!-- Left side -->
              <div class="navbar-start">
                <div class="navbar-item">
                  <p class="subtitle is-5">
                    Exclusive Raid Gym Tracker - Leeds
                  </p>
                </div>
              </div>

              <!-- Right side -->
              <div class="navbar-end">
                <p class="navbar-item">
                    {%  if user.is_authenticated %}
                        <a href="/logout/">Logout</a>
                    {% else %}
                        <a href="/signup/">Sign up</a>/<a href="/login/">Login</a>
                    {% endif %}
                </p>
              </div>
            </nav>
        </div>
    </section>
    {% block hero %}
    {% endblock %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Exclusive Raid Tracker - Leeds</strong> by <a href="http://colinwren.is/awesome">Colin Wren</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/gimpneek/exclusive_raid_tracker">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
</body>
</html>