{% load base_extras %}
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label" for="{{ field.id_for_label}}">{{ field.help_text }}</label>
            </div>
            <p class="control {% if field.errors %} has-icon has-icon-right {% endif %}">
                {% if field|fieldtype == 'TextInput' %}
                    <input name="{{ field.html_name }}" class="input {% if field.errors %} is-danger {% endif %}" type="text" value="{{ field.value }}"/>
                {% endif %}
                {% if field|fieldtype == 'DateInput' %}
                    <input name="{{ field.html_name }}" class="input {% if field.errors %} is-danger {% endif %}" type="date" value="{{ field.value|date:"Y-m-d" }}"/>
                {% endif %}
                {% if field|fieldtype == 'EmailInput' %}
                    <input name="{{ field.html_name }}" class="input {% if field.errors %} is-danger {% endif %}" type="text" value="{{ field.value }}"/>
                {% endif %}
                {% if field|fieldtype == 'URLInput' %}
                    <input name="{{ field.html_name }}" class="input {% if field.errors %} is-danger {% endif %}" type="text" value="{{ field.value }}"/>
                {% endif %}
                {% if field|fieldtype == 'Textarea' %}
                    <textarea name="{{ field.html_name }}" class="textarea" type="text">{{ field.value }}</textarea>
                {% endif %}
                {% if field|fieldtype  == 'Select' %}
                    <span class="select is-fullwidth">
                        <select name="{{ field.html_name }}" class="select is-fullwidth">
                            {% for id, name in field.field.choices %}
                                <option value="{{ id }}"
                                {% if field.value %}
                                    {% if field.value == id %} selected="selected" {% endif %}
                                {% else %}
                                    {% if field.field.default == id %} selected="selected" {% endif %}
                                {% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </span>
                {% endif %}
                {% if field|fieldtype  == 'SelectMultiple' %}
                    <select multiple="multiple" name="{{ field.html_name }}" class="select is-fullwidth">
                        {% for id, name in field.field.choices %}
                            <option value="{{ id }}" {% if id in field.value %} selected="selected" {% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if field.errors %}
                    <i class="fa fa-warning"></i>
                    {% for error in field.errors %}
                        <span class="help is-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    {% endif %}
{% endfor %}