{% load tracker_tags %}
<div class="card">
  <div class="card-image">
      <a href="/add/{{ gym.id }}/" class="card-image has-background-image" style="background-image: url('{{ gym.image_url }}')">
          <figure class="image is-4by3"></figure>
          {%  with gym.get_raid_information as raid_info %}
            {%  if raid_info %}
                <section class="raid-header hero is-small is-primary is-bold">
                    <div class="hero-body">
                        <div class="container">
                         <h1 class="title">{{ raid_info.pokemon }} ({{ raid_info.level }})</h1>
                         <h2 class="subtitle raid-counter">{{ raid_info.time_left }}</h2>
                        </div>
                    </div>
              </section>
            {% endif %}
        {% endwith %}
      </a>
  </div>
  <div class="card-content">
      <div class="media-content">
        <p class="title is-4">{{ gym.name }}</p>
      </div>
      <div class="content">
        {% get_last_raid gym.id user_id as raid_date %}
        {% if raid_date %}
            <p>You last visited this gym on {{ raid_date|date:"d/m/Y" }}</p>
        {% else %}
            <p>You still need to visit this gym</p>
        {% endif %}
      </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" href="/add/{{ gym.id }}/">Add Raid</a>
    <!--<a class="card-footer-item" href="/hide/{{ gym.id }}/">Hide</a>-->
  </footer>
</div>