{%  extends 'app/base.html' %}
{%  block hero %}
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Manage your Gyms
          </h1>
          <h2 class="subtitle">
              Gyms are added as you complete raids on them but you can add and remove gyms on the <a class="button is-small is-primary is-inverted is-outlined" href="/gym-management/">Gym Management Page</a>
          </h2>
        </div>
      </div>
    </section>
{%  endblock %}
{%  block content %}
    <h1>Search</h1>
    <div class="dropdown" id="search-bar-container">
        <div class="field">
            <div class="control has-icons-right">
              <input class="input is-large" placeholder="Enter a gym name" id="gym-list-search-bar">
              <span class="icon is-medium is-right">
                <i class="fa fa-search"></i>
              </span>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu"></div>
        </div>
    </div>
    {% if tracked_gyms %}
        <h1>Gyms</h1>
        <div id="gyms_to_visit">
            {%  for gym in tracked_gyms %}
                {%  if forloop.counter0|divisibleby:3 %}
                    {%  if forloop.counter0 != 0 %}
                        </div>
                    {% endif %}
                    <div class="columns">
                {% endif %}
                <div class="column is-4">
                    {%  include 'app/gym_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <script>
        setInterval(function(){
            var elements = document.getElementsByClassName("raid-counter");
            for(var i = 0; i < elements.length; i++){
                var element = elements[i];
                var current_time = element.textContent;
                var time_elements = current_time.split(':');
                current_time = new Date(0);
                current_time.setHours(parseInt(time_elements[0]));
                current_time.setMinutes(parseInt(time_elements[1]));
                current_time.setSeconds(parseInt(time_elements[2]));
                var time = current_time.getTime();
                time = time - 1000;
                var new_date = new Date(time);
                element.innerHTML = new_date.getHours() + ":"
                    + ("0" + new_date.getMinutes()).slice(-2) + ":"
                    + ("0" + new_date.getSeconds()).slice(-2)
                    + " remaining";
                if(time < 0){
                    element.parentNode.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode.parentNode);
                }
            }
        }, 1000);
    </script>
    <script type="text/javascript" src="https://cdn.rawgit.com/Gimpneek/JavaScript-autoComplete/1c337ba670508bbd70ad7fee18c691fbe26d8399/auto-complete.js"></script>
    <script>
    var choices = [
        {%  for gym in gym_list %}
            ['{{ gym.name }}', '/add/{{ gym.id }}/'],
        {%  endfor %}
    ];
    new autoComplete({
        selector: '#gym-list-search-bar',
        minChars: 1,
        menuClass: 'dropdown-content',
        source: function(term, suggest){
            term = term.toLowerCase();
            var suggestions = [];
            for (i=0;i<choices.length;i++) {
                if (~(choices[i][0] + ' ' + choices[i][1]).toLowerCase().indexOf(term)) suggestions.push(choices[i]);
            }
            suggest(suggestions);
        },
        renderItem: function (item, search){
            search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
            return '<a class="dropdown-item autocomplete-suggestion" href="'+item[1]+'" data-val="'+search+'">'+item[0]+'</a>';
        },
        onSelect: function(e, term, item){
            window.location.href = item.getAttribute('href');
        }
    });
    </script>
{%  endblock %}
